.margin-50{
    margin: 50px;

}

.margin-left-20{
    margin-left: 20px;
    padding: 3px 9px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 100%;
}

.flex-item {
    text-align:center;
    padding:5px 5px;
    border:solid 1px black;
    width:100%;
}